.color-card {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.color-card__headline {
  display: inline;
  padding-right: 6px;
}

.color-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.color-card__button {
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #666;
}
.color-card__input {
  border: 1px solid #666;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  height: 36px;
}
