.color-form {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #ccc;
  width: 300px;
  margin: 20px auto;
  color: #000;
}
.color-card .color-form {
  width: 260px;
}
